h5{
  font-family:"Open Sans",sans-serif !important;
  font-weight: 400 !important;
}
.content-highlited{
  padding: 120px 50px;
  text-align: center;
}
.content-highlited h3{
  color: #222222;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 42px;
}
.darker-text .wd-title-section_l  h5{
  color: #333;
}
.row::after{
  clear: both;
}