/*_____________________ desktop menu ______________________*/

@media only screen and (min-width: 900px) {
  .top-bar .title-area,
  .top-bar-section ul li {
    float: right !important;
  }

  .top-bar-section ul li {
    display: inline-block;
  }

  .top-bar-section {
    padding-right: 0;
    padding-left: 60px;
  }

  ul.sub-menu.dropdown:after {
    left: 100%;
  }

  .top-bar-section .has-dropdown .dropdown li.has-dropdown > a::after {
    right: unset;
    left: 19px;
    content: "\f100";
    font-family: fontawesome;

  }

  .creative-layout .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 11px 0 35px;
  }

  /*.top-bar-section .dropdown li .dropdown{
    left: -100%;
  }*/
  .top-bar-section .dropdown {
    left: -73px;
    right: auto;
  }

  .contain-to-grid .top-bar .top-bar-section .has-dropdown a {
    padding-left: 32px !important;
    padding-right: 0;

  }

  .contain-to-grid .top-bar .top-bar-section .has-dropdown > a::after {
    right: auto;
    left: 23px;
    content: '\f103';
    font-family: FontAwesome;
    top: 3px;
    border: none;
  }

  .top-bar-section .dropdown li .dropdown {
    right: 100%;
    left: auto;
  }

}

/* ________________ Mobile menu ___________________*/
@media (max-width: 899px) {
  .top-bar .title-area {
    width: 100%;
  }

  .top-bar .toggle-topbar.menu-icon {
    float: right;
  }

  .top-bar .name {
    float: left;
  }

  .creative-layout .top-bar .name h1 a {
    float: left;
  }

  .top-bar-section ul li > a {
    padding: 12px 1.07143rem 12px 0;
  }

  .top-bar-section .dropdown {
    left: -100%;
  }

  .creative-layout .top-bar-section ul li {
    width: 100%;
  }

  .creative-layout .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 8px 11px;
  }

  .contain-to-grid .top-bar .top-bar-section .has-dropdown > a::after {
    content: "\f100";
    font-family: fontawesome;
    right: auto;
    left: 20px;
    border: none;
    top: 32%;
    float: left;
  }

}

.wd-title-section_l h2::after {
  position: absolute;
  right: 20px;
}

.white .wd-title-section_l h2 {
  margin-bottom: 30px;
}

@media (max-width: 1018px) {
  .creative-layout .top-bar-section {
    float: right !important;
    max-width: 100%;
  }

  .top-bar-section ul.menu {
    float: right !important;
  }
}

.vc_column_container {
  direction: ltr;
}

.vc_column_container > div {
  direction: rtl;
}

body {
  direction: rtl;
  unicode-bidi: embed;
}

.box-text h2,
.box-text h3,
.box-text h4,
.box-text h5,
.box-text h6,
.box-text div,
.box-text p,
.pricing-table .price,
.pricing-table .title,
.pricing-table .description,
.pricing-table .bullet-item {
  text-align: right;
}

.pricing-table div.description {
  padding: 0 34px 12px 34px;
}

.pricing-table li.bullet-item i {
  margin-left: 11px;
  margin-right: 0;
}

.address-info span {
  margin-right: 0px;
  margin-left: 30px;
}

.columns, .column {
  float: right !important;
}

.column + .column:last-child,
.columns + .column:last-child,
.column + .columns:last-child,
.columns + .columns:last-child,
.wpcf7-form-control.wpcf7-submit {
  float: right;
}

.top-bar-section ul.menu {
  float: left;
}

.boxes.small.layout-5 .box-text-5, .boxes.small.layout-5-inverse .box-text-5 {
  padding-left: 0;
  padding-right: 8em;
  text-align: right;
}

.pricing-table ul {
  width: 80%;
}

.boxes.layout-1 .box-icon,
.boxes.layout-1 .box-body,
.boxes.layout-1 .box-title-1 {
  text-align: right;
}

.ion-ios-arrow-thin-right:before {
  content: "\f3d5";
}

.widget_recent_entries ul li, .sidebar ul li {
  position: relative;
}

.widget_recent_entries ul li:before, .sidebar ul li:before {
  content: "\f0d9";
  margin: 0;
  left: 0;
}

.vc_tta.vc_general.vc_tta-accordion .vc_tta-panel.vc_active .vc_tta-panel-title a {
  position: relative;
}

.wpb-js-composer .vc_tta.vc_general .vc_tta-icon {
  position: absolute;
  right: 15px;
  top: 25px;
}

.vc_tta.vc_general.vc_tta-accordion .vc_tta-panel.vc_active .vc_tta-panel-title a span {
  margin-left: 0;
  margin-right: 15px;
}

.wpb-js-composer .vc_tta.vc_general .vc_tta-title-text:not(:empty):not(:first-child), .wpb-js-composer .vc_tta.vc_general .vc_tta-title-text:not(:empty) ~ * {
  margin-left: 0;
  margin-right: 14px;
}

.vc_progress_bar .vc_single_bar .vc_bar {
  right: 0;
}

.copyright-menu li {
  border-right: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.41);
}

.woocommerce .woocommerce-ordering select {
  position: relative;
}

.woocommerce .woocommerce-ordering:after {
  top: 15px;
  right: unset;
  left: 35px;
}

.woocommerce .products .star-rating {
  margin: auto auto 5px;
}

.woocommerce ul.products li.product .onsale {
  position: absolute;
  top: 15px;
  right: 0;
  left: 0;
  margin: 0;
}

.left,
.flooring_multi_post_left_image,
.flooring_multi_post_left_image > .columns,
.progress .meter,
.portfolio-body .large-8,
.wd-portfolio-grid-item-text-container .large-9 {
  float: right !important;
}

.right,
.top-bar-section,
.vc_tta.vc_general.vc_tta-accordion .vc_tta-controls-icon,
.single-portfolio .portfolio-infos-container .share-icons ul,
.portfolio-body .portfolio-infos-container,
.wd-portfolio-grid-item-text-container .large-3 {
  float: left !important;
}

.single-portfolio .portfolio-text:after {
  right: unset;
  left: -18px;
}

.portfolio-body .portfolio-infos-container {
  padding-left: 0;
  padding-right: 46px;
}

.wd-portfolio-grid-item-text-container .large-3 {
  padding: 0 15px !important;
}

.text-left,
input, textarea,
.vc_tta .vc_tta-accordion,
.wd-portfolio-grid-item-text-container,
.portfolio-text,
.wd-portfolio-grid-item-text-container .large-9,
.wpb-js-composer .vc_tta.vc_tta-controls-align-left .vc_tta-panel-heading, .wpb-js-composer .vc_tta.vc_tta-controls-align-left .vc_tta-tabs-container,
.vc_tta-tabs-list,
.vc_tta-panel-body,
.wd-title-section_l {
  text-align: right !important;
}

.vc_tta.vc_general.vc_tta-accordion .vc_tta-panel .vc_tta-panel-body {
  padding-left: 0;
  padding-right: 46px;
}

.vc_tta.vc_general.vc_tta-accordion .vc_tta-panel .vc_tta-panel-body:before {
  left: calc(100% - 23px);
  top: 0;
}

.text-right {
  text-align: left !important;
}

.flooring_multi_post_top_image .flooring_multi_post_top_image_info .wd-redmore i,
.flooring_multi_post_masonry .flooring_multi_post_masonry_info .wd-redmore i,
.flooring_multi_post_left_image .flooring_multi_post_left_image_info .wd-redmore i {
  margin-left: 0;
  margin-right: 10px;
}

.wd-newsletter .email-adress {
  width: 100%;
}

.wd-newsletter .newslettersubmit {
  left: 0;
}

.wd-footer ul.inline-list,
.blog-page .post-left,
.blog-page .post-infos {
  float: right;
}

.wd-latest-news .wd-image-date span {
  left: auto;
  right: 0;
}

.wd-section-text-icon .wd-text-icon-style2 .box-description {
  padding-left: 0;
  padding-right: 104px;
}

.blog-page .post-right {
  margin-left: 0;
  margin-right: 70px;
}

.blog-page article h2 {
  padding: 0px 0px 0px 20px;
}

.p-t-20 {
  padding-top: 44px !important;
}

.creative-layout .creative-social {
  float: left;
}

.wd-title-section_l h2 {
  margin-bottom: 28px;
}

.wd-latest-news .hvr-pop.read-more {
  float: left;
}

.blog-page {
  padding-right: 0;
  padding-left: 30px;
}

.blog-page .post-infos li {
  margin-right: 0;
  margin-left: 10px;
  padding-right: 0;
  padding-left: 10px;
  float: right;
  border-right: none;
  border-left: 1px solid #ccc;
}