@import "compass/css3";

@media #{$topbar-media-query} {
  #menu-main-menu > li > .dropdown {
    min-width: 220px;
    clip: auto;
    opacity: 0;
    transform: translateY(100px);
    transition: all .3s cubic-bezier(0.4, 0, 1, 1);
    display: none;
  }
  #menu-main-menu > li:hover > .dropdown {
    clip: auto;
    opacity: 1;
    transform: translateY(0);
    display: block;
  }
}

.fixed section.creative .menu-item .sub-menu {
  margin-top: 14px;
}

section.creative {
  float: left;
  @media #{$medium-up} {
    max-width: 80%;
  }
  #menu-menu {
    margin-top: 0;
    @media #{$medium-up} {
      .fixed & {
        margin-bottom: 14px;
        margin-top: 10px;
      }
    }
  }
  .menu-item {
    @media #{$small-up} {
      float: none;
    }
    @media #{$medium-up} {
      float: left;
    }
    .sub-menu {
      border: 1px solid #eeeeee;
      @media #{$small-up} {
        padding-left: 14px;
      }
      @media #{$medium-up} {
        padding-left: 0;
        position: absolute;
        margin-top: 24px;
        a {
          padding: 0 20px;
          font-size: 13px
        }
      }
      background: #FFF;
      li {
        float: none;
      }
    }
    .sub-menu .sub-menu {
      @media #{$medium-up} {
        left: 100%;
        margin-top: 0;
        top: 0;
      }
    }
    a {
      padding: 10px;
    }
    .sub-menu {
      display: none;
    }
  }
}

.creative-layout {
  .top-bar-section li {
    border-bottom: none;
    .dropdown li {
      min-width: 220px;
    }
  }
  .top-bar .name h1 a {
    width: 100%;
  }
  .top-bar .name h1 a img {
    height: 50px;
  }
  .fixed {
    .top-bar .name h1 a {
      img {
        max-height: 60px;
      }
    }
  }
  .contain-to-grid, .top-bar {
    background: none repeat scroll 0 0 transparent;
    box-shadow: none;
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 100%;
    z-index: 1001;
  }
  .menu-main-menu-container {
    line-height: 1em;
  }
  .creative-social {
    float: right;
    line-height: 11px;
    ul.social-icons {
      li:not(.has-form) {
        a:not(.button) {
          color: #fff;
          line-height: 10px;
          padding-bottom: 0;
        }
      }
      .call {
        color: rgba(255, 255, 255, 0.68);
        span {
          display: inline-block;
          font-weight: bold;
          font-size: 16px;
          color: $primary-color;
          margin-top: -3px;
        }
      }
    }
  }
  .creative-social {
    float: right;
    a {
      color: #fff;
      font-size: 18px;
    }
  }
  .header-top {
    color: #7D8793;
    .contact-info {
      font-size: 16px;
      .fa {
        margin-right: 4px;
      }
      .fa-phone {
        margin-left: 10px;
      }
    }
    i {
      font-size: 16px;
    }
    .social-icons li i {
      border-radius: 0;
      color: #D6D6D6;
      font-size: 1.2em;
      margin: 0 2px;
    }
    .social-icons.accent li i {
      border: none;
      color: #ffc4b7;
    }
  }
  .contain-to-grid.sticky {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0px, transparent 97%);
    position: absolute;
  }
  .contain-to-grid.sticky.fixed {
    position: fixed;
    top: 30px;
    background-color: RGBA(0, 0, 0, 0.8);
  }
  @media screen and (max-width: 360px) {
    .contain-to-grid.sticky.fixed, .contain-to-grid.sticky {
      top: 0;
    }
    
  }
  .top-bar-section li:not(.has-form) a:hover:not(.button), .top-bar-section ul li:hover:not(.has-form) > a {
    background-color: transparent;
  }
  .top-bar-section ul li:hover:not(.has-form) > a {
    color: #fff;
  }
  .top-bar .toggle-topbar.menu-icon a span {
    box-shadow: none;
  }
  .top-bar .toggle-topbar.menu-icon {
    margin-top: -20px;
  }
  @media #{$small-only} {
    .top-bar-section .right li .dropdown {
      left: 100%;
    }
  }
  .top-bar {
    position: relative;
    //background-color: #FFF;
    transition: all 0.4s ease 0s;
    //float:left;
  }
  .top-bar-section ul li > a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.4s ease 0s;
    font-weight: 600;
    &:hover {
      color: #282828;
      transition: all .2s ease;
    }
  }
  & .fixed .top-bar-section ul li > a {
    color: #FFF;
    //border-bottom: 1px solid #111;
    &:hover {
      color: $primary-color;
      border-bottom: 1px solid $primary-color;
    }
  }
  .top-bar-section ul li {
    background-color: transparent;
  }
  .top-bar .title-area .name {
    @media #{$small-only} {
      margin-top: 0;
    }
    @media #{$medium-up} {
      //margin-top: 20px;
    }
  }
  .creative-layout .top-bar .title-area .name {
    margin-top: 0;
  }
  .adress-section, .social-section {
    background-color: #F95B36;
    padding-bottom: 0px;
    @media #{$topbar-media-query} {
      padding-bottom: 24px;
    }
    padding-top: 2px;
    font-size: 16px;
    color: #FFC4B7;
    
  }
  .social-section {
    padding-bottom: 27px;
    padding-left: 130px;
  }
  .adress-section {
    padding-left: 0;
    text-align: center;
    @media #{$topbar-media-query} {
      text-align: left;
      padding-left: 110px;
    }
    color: #ffc4b7;
  }
  .phone-section {
    padding-bottom: 22px;
    padding-top: 5px;
    color: #7D8793;
    font-size: 16px;
    text-align: center;
    @media #{$topbar-media-query} {
      text-align: right;
    }
    i {
      color: #f95a36;
      font-size: 20px;
    }
  }
  .phone-section:after {
    content: " ";
    width: 83px;
    height: 51px;
    top: 0;
    background-image: url("../images/bg-phone.jpg");
    background-repeat: no-repeat;
    position: absolute;
    right: -81px;
    z-index: 1;
  }
}

.top-bar .toggle-topbar.menu-icon a span {
  box-shadow: none !important;
}

.modern-layout .top-bar-section ul li {
  float: none !important;
  
}

.orange_bar {
  @include background-image(linear-gradient(left, #f95b5d 0%, #fbad5b 100%));
  height: 10px;
}

.top-bar .toggle-topbar.menu-icon a span::after {
  box-shadow: 0 0 0 1px #000, 0 7px 0 1px #000, 0 14px 0 1px #000;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: transparent;
}

.top-bar-section .dropdown li:not(.has-form):not(.active) {
  > a:not(.button) {
    border: none;
    font-size: 12px;
    line-height: 44px;
    letter-spacing: .5px;
    background: rgba(0, 0, 0, 0.61);
    color: #FFF;
    @media #{$small-only} {
      line-height: inherit;
    }
    &:hover {
      background: #444;
      color: $primary-color;
    }
  }
  &:hover > a:not(.button) {
    background: #444;
    color: $primary-color;
  }
}

@media #{$topbar-media-query} {
  .creative-layout .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 11px;
  }
}

.creative-layout .top-bar-section {
  margin-right: 0;
}

@media only screen and (max-width: 900px) {
  .creative-layout .top-bar-section ul li > a {
    border-bottom: 1px solid #fff;
  }
}

@media (max-width: 768px) {
  .wd_mega-menu .has-dropdown.not-click.moved .sub-menu.dropdown {
    z-index: 99999;
    height: auto;
  }
}

@media only screen and (max-width: 980px) {
  //_________________mobile__________________
  .creative-layout {
    .top-bar {
      .title-area {
        float: none;
        width: 100%;
      }
    }
  }
  section.creative {
    width: 100%;
    max-width: 100%;
  }
  .top-bar, .top-bar .name {
    height: 5.214rem;
  }
  .wd_mega-menu > .sub-menu.dropdown > li {
    display: block;
  }
  .wd_mega-menu > .sub-menu.dropdown > li > .sub-menu.dropdown {
    position: absolute !important;
  }
  
}

.top-bar-section > div > ul > li > a {
  @media #{$medium-up} {
    display: inline;
  }
  
}

.creative-layout .top-bar-section li:not(.has-form) a:not(.button) {
  display: block;
  position: relative;
}

@media (min-width: 1170px) {
  .top-bar {
    .name {
      padding-top: 15px !important;
    }
  }
}

@media (min-width: 980px) {
  .top-bar {
    .name {
      padding-top: 0;
    }
  }
}

@media #{$small-only} {
  .top-bar.expanded .title-area {
    background: #333333 !important;
  }
  .creative-layout .top-bar-section ul li > a, .wd-menu3-nav .top-bar-section ul li > a {
    color: rgba(255, 255, 255, 1) !important;
  }
  .creative-layout .contain-to-grid.sticky {
    background: #333333 !important;
  }
}


